<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Extension Updates</key>
    <array>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.tbastos.bangsearch</string>
        <key>Developer Identifier</key>
        <string>7L67N6LXF6</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>URL</key>
        <string>https://github.com/tbastos/safari-bangsearch/releases/download/v1.0/bangsearch.safariextz</string>
        <key>Update From Gallery</key>
        <true/>
      </dict>
    </array>
  </dict>
</plist>
