<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Thiago Bastos</string>
	<key>Builder Version</key>
	<string>11601.1.56</string>
	<key>CFBundleDisplayName</key>
	<string>!Search</string>
	<key>CFBundleIdentifier</key>
	<string>com.tbastos.bangsearch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Description</key>
	<string>Enables DuckDuckGo !bang commands in Safari's address bar.</string>
	<key>DeveloperIdentifier</key>
	<string>7L67N6LXF6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/tbastos/safari-bangsearch/master/Update.plist</string>
	<key>Website</key>
	<string>http://tbastos.com/project/safari-bangsearch/</string>
</dict>
</plist>
